<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.bupt.aircondition.mapper.ScheduleLogMapper">

    <insert id="save">
        insert into schedule_log(ac_id, type, serve_id, date) values(#{acId}, #{type}, #{serveId}, #{date});
    </insert>

    <select id="getLogsByStartAndEnd" resultType="cn.edu.bupt.aircondition.entity.ScheduleLog">
        select ac_id, type, serve_id, date  from schedule_log where date between #{start} and #{end};
    </select>

    <select id="getLogsByAcIdAndStartAndEnd" resultType="cn.edu.bupt.aircondition.entity.ScheduleLog">
        select ac_id, type, serve_id, date  from schedule_log where ac_id = #{acId} and date between #{start} and #{end};
    </select>


</mapper>